@import '../../../mystyle.scss';

.resultHere{
    display: flex;
flex-direction: column;
background-color:$light ;
max-width: 500px;
margin: auto;
padding-top: 30px;

font-size: 20px;
.outp{
    float: right;
    color:black;
}
}
